@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;

}

.background-image {
    position: fixed;
    bottom: 0;
    right: -2%;
    z-index: -99;
}

.background-image img {
    z-index: -99;
    width: 320px;
    height: 408px;
}

/* Last background */

/* Start Pop up */
.container-popup {
    background-color: rgb(100, 100, 100);
    opacity: 0.9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}


.form-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(204, 204, 204, 0.2);
    z-index: 200;
    margin: 0 auto;
    top: 25%;
    background-color: black;
    border-radius: 10px;

}

.formData {
    display: flex;
    flex-direction: column;
}

.username,
.date,
.btnForm {
    margin: 5px;
    font-size: 1.3em;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.btnForm {
    border-radius: 30px;
    border: none;
    color: black;
    background-color: greenyellow;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

/* Last Popup */

.firstContainer,
.secondContainer {
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.firstContainer .container-exam1,
.container-exam2 {
    flex-basis: 50%;

}

.secondContainer .container-exam3,
.container-exam4 {
    flex-basis: 50%;
}

.container-exam1,
.container-exam2,
.container-exam3,
.container-exam4 {
    padding-left: 10px;
}



.btnAnswer {
    padding: 10px;
    background-color: rgb(255, 32, 32);
    max-width: fit-content;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-weight: lighter;

}



footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 214, 31);

}

.title {
    text-align: center;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;

}


/* Start Table */

.container-table .title-table {
    color: white;
}


table {

    box-shadow: 0 4px 8px 0 rgba(223, 223, 223, 0.2);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}



table thead th {
    padding: 10px;

}

/* Last Table */